<!-- IMAGE BOX -->
@model MvcStore.Web.ViewModels.HomeViewModels

@{
    var fristcat = Model.FeaturedCategories[0];
    var secondcat = Model.FeaturedCategories[1];
    var thirdcat = Model.FeaturedCategories[2];
    var fourthcat = Model.FeaturedCategories[3];
}
<section class="flat-row row-image-box">
    <div class="container">
        <div class="row gutter-10">
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h22 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (fristcat != null)
                            {
                                <div class="thumb">
                                    <img src="@fristcat.ImageURL" alt="Image">
                                    <div class="elm-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@fristcat.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 row2 data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (secondcat != null)
                            {
                                <div class="thumb">
                                    <img src="@secondcat.ImageURL" alt="Image">
                                    <div class="elm-btn">
                                        <a href="#" class="@secondcat.Name"></a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (thirdcat != null)
                            {
                                <div class="thumb">
                                    <img src="@thirdcat.ImageURL" alt="Image">
                                    <div class="elm-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@thirdcat.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
            <div class="col-sm-6 col-md-4">
                <div class="flat-image-box style-1 data-effect div-h20 clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            @if (fourthcat != null)
                            {
                                <div class="thumb">
                                    <img src="@fourthcat.ImageURL" alt="Image">
                                    <div class="elm-btn">
                                        <a href="#" class="themesflat-button bg-white width-150">@fourthcat.Name</a>
                                    </div>
                                    <div class="overlay-effect bg-color-1"></div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END IMAGE BOX -->