@model List<Product>
@{
    ViewBag.Title = "ProdcutTable";

}

<h2>ProdcutTable</h2>

        <div>
            <form method="post" action="/Product/ProdcutTable">
                <div class="row">
                    <div class="col-md-9">  <input name="Search" class="form-control" id="searchText"></div>
                    <div class="col-md-3"><button id="searchBtn" type="button">Search</button></div>
                </div>
              
                
            </form>
            <button type="button" id="newBtn">New</button>

        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Product Name </td>
                    <td>Category </td>
                    <td>Price</td>
                    <td>Action</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text>@product.Category.Name</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>
                            @product.Price
                        </td>
                        <td>
                            <button class="editBtn" data-id="@product.ID">Edit</button>
                            <button class="deleteBtn" data-id="@product.ID">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    



<script>

    $("#searchBtn").click(function () {
        var serachValue = $("#searchText").val();
        
    

        $.ajax({
            url: '/Product/ProdcutTable',
            data: {
                search:serachValue
            }
    })

            .done(function (response) {
                $("#tableCont").html(response);
        })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fails");
            });
    });


    //New Button Selector
    $("#newBtn").click(function () {
        



        $.ajax({
            url: '/Product/Create',
           
        })

            .done(function (response) {
                $("#actionCont").html(response);
            })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fails");
            });
    });

    //Edit Button Selector
    $(".editBtn").click(function () {




        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }

        })

            .done(function (response) {
                $("#actionCont").html(response);
            })

            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fails");
            });
    });

    //Delete Button Selector

    
    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("Are You Sure Want To Delete ?");
        if (confirmDelete)
        {


            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })

                .done(function (response) {
                    $("#tableCont").html(response);
                })

                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fails");
                });

        }


       
    });
</script>